input {
    keyboard {
        xkb {
            // Inherits system locale from org.freedesktop.locale1
        }
        numlock
    }
    touchpad {
        tap
        dwt
        dwtp
        natural-scroll
        accel-speed 0.3
    }
    mouse {
        accel-speed 0.4
    }
    focus-follows-mouse max-scroll-amount="0%"
}
