[Unit]
Description=Tailscale Taildrop Auto Receive
After=network-online.target

[Service]
ExecStartPre=/usr/bin/mkdir -p %h/Downloads/Taildrop
ExecStart=/usr/bin/tailscale file get --loop --conflict=rename %h/Downloads/Taildrop
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
