[Unit]
Description=Topgrade System and User Package Updates Timer
Documentation=https://github.com/topgrade-rs/topgrade
ConditionUser=!@system

[Timer]
OnCalendar=*-*-* 07:00:00
Persistent=true
RandomizedDelaySec=15min

[Install]
WantedBy=timers.target
