[Unit]
Description=Topgrade System and User Package Updates Timer
Documentation=https://github.com/topgrade-rs/topgrade
ConditionUser=!@system

[Timer]
OnBootSec=10min
OnUnitActiveSec=1d
Persistent=true

[Install]
WantedBy=timers.target
